<p id="notice"><%= notice %></p>

<p>
  <strong>Institution:</strong>
  <%= @add_institution_to_course.institution %>
</p>

<%= link_to 'Edit', edit_add_institution_to_course_path(@add_institution_to_course) %> |
<%= link_to 'Back', add_institution_to_courses_path %>
